body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000000, #dea50a);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.resume-container {
  width: 80%;
  max-width: 800px;
  background-color: #0e0e0e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid #ffffff;
  position: relative;
  /* transition: all 0.3s ease-in-out; */
}

.resume-container:hover {
  transform: translateY(-5px);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

/* Profile Picture */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #dea50a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.profile-pic:hover{
  width: 200px;
  height: 200px;
  transition: ease-in-out 0.5s;
}


.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  color: #ffffff;
}

.contact {
  font-size: 0.9em;
  color: #ffffff;
  margin-top: 5px;
}

/* Section Headers_______________________ aisi lines hain */
h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #dea50a;
}

/* Toggle Button */
button.toggle-section {
  background-color: transparent;
  border: none;
  font-size: 0.5em;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

button.toggle-section:hover {
  color: #dea50a;
}

/* Section Content, line between list  */
ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

li:hover {
  color: #eee;
  background-color: rgba(148, 116, 9, 0.312);
  padding-left: 10px;
  border-left: 3px solid #dea50a;
}

.section {
  margin-bottom: 20px;
}


/* Responsive Design */
@media (max-width: 600px) {
  .resume-container {
    width: 95%;
    padding: 20px;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
  }

  li {
    font-size: 1em;
  }
}